:root {
  --black: #12130f;
  --gray: #474747;
  --orange: #ee6123;
  --amber: #ffbf00;
  --white: #fcfcfc;
  --green: #92CD29;
  font-size: 10px;
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: var(--white);
  
}
/* width */
::-webkit-scrollbar {
  width: .4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12130f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ee6123;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbf00;
}
* {
  margin: 0;
  padding: 0;
}
