:root {
  --black: #12130f;
  --grey: #474747;
  --orange: #ee6123;
  --amber: #ffbf00;
  --white: #fcfcfc;
  font-size: 10px;
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
}
